.image-container{
    margin: 20px;
}

.beau{
    width: 70%;
    border: outset 5px #f98ba5;
    border-radius: 10px;
    margin: 10px;
}

.info-container{
    margin: 20px;
    padding: 10px;
    font-size: x-large;
}

.icons,
.fa-youtube,
.fa-facebook{
    color: #f98ba5
    padding 10px;
}

.fa-youtube:hover,
.fa-facebook:hover,
.fa-soundcloud:hover,
.fa-bandcamp:hover,
.fa-instagram:hover,
.fa-apple:hover,
.fa-spotify:hover{
    color: #f98ba5;
    transform: scale(1.1);
}