.contact-title{
    margin-top: 80px;
}

.contact-container{
    background-color: #f98ba5;
    padding: 20px;
    border: outset 5px #7ac3e4;
    border-radius: 15px;
    margin: 80px;
    color: #f7e698;
}

.send-btn{
    background-color: #7ac3e4;
    color: #f7e698;
    border-radius: 10px;
}